@font-face {
  font-family: GreatVibes;
  src: url(greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(opensans-regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(opensans-semibold.ttf);
}

.fabric {
  text-align: left;
} 

.title {
  margin-top: 0px;
  margin-bottom: 48px;
}

p.heading {
  font-family: OpenSansBold;
  margin-bottom: 0px;
  margin-left: 18px;
}

p.text {
  margin-top: 0px;
}

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center; 
  margin: 12px;
}

h1 {
  font-family: GreatVibes;
  font-size: 72px;
  margin-bottom: 0px;
}
