@font-face {
  font-family: GreatVibes;
  src: url(greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(opensans-regular.ttf);
}

.fabric {
  text-align: left;  
}  

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center;
  padding: 0px; 
  margin: 0px;
}

h1 {
  font-family: GreatVibes;
  font-size: 72px;
}
