@font-face {
  font-family: GreatVibes;
  src: url(greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(opensans-regular.ttf);
}

.fabric {
  text-align: left;  
} 

.title {
  margin-top: 0px;
  margin-bottom: 96px;
}

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center; 
  margin: 12px;
}

h1 {
  font-family: GreatVibes;
  font-size: 72px;
  margin-bottom: 0px;
}
