@font-face {
  font-family: GreatVibes;
  src: url(greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(opensans-regular.ttf);
}

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: GreatVibes;
  font-size: 112px;
}
