@font-face {
  font-family: GreatVibes;
  src: url(greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(opensans-regular.ttf);
}

.fabric {
  text-align: left;  
}  

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center; 
  margin: 12px;
}

h1 {
  font-family: GreatVibes;
  font-size: 72px;
  line-height: 80%;
}
