body {
  margin: 24px;
  text-align: center;
}

@font-face {
  font-family: GreatVibes;
  src: url(../fonts/greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans-regular.ttf);
}

* {
  box-sizing: border-box;
}

.title {
  margin-bottom: 72px;
}

.overview {
  margin-bottom: 24px;
}

.material {
  margin-bottom: 108px;
}

#img1 {
  display: none;
}

.end {
  text-align: center; 
}

.polaroid {
  text-align: center;
  width: 320px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  text-align: center;
  padding: 10px 20px;
}

h1 {
  font-family: GreatVibes;
  font-size: 96px;
  margin-bottom: 0px;
}

h2 {
  font-family: OpenSans;
  font-size: 24px;
  margin-top: 0px;
  color: darkslategrey;
}

h3 {
  font-family: OpenSans;
  font-size: 20px;
}

p {
  font-family: OpenSans;
  font-size: 18px;
}

ul {
  font-family: OpenSans;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  margin-left: 12px;
  text-align: left;
}
