@font-face {
  font-family: GreatVibes;
  src: url(../fonts/greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans-regular.ttf);
}

.title {
  text-align: center; 
}

.overview {
  text-align: left; 
}

.material {
  text-align: left;  
}

h1 {
  font-family: GreatVibes;  
}

h2 {
  font-family: OpenSans;
}

h3 {
  font-family: OpenSans;  
}

p {
  font-family: OpenSans;  
}

ul {
  font-family: OpenSans;  
}
