@font-face {
  font-family: GreatVibes;
  src: url(../fonts/greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans-regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensans-semibold.ttf);
}
