@font-face {
  font-family: GreatVibes;
  src: url(../fonts/greatvibes-regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans-regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensans-semibold.ttf);
}

.fabric {
  text-align: left;
  float: left;
}

.left {
  text-align: left;
}

.title {
  margin-top: 0px;
  margin-bottom: 48px;
}

p.heading {
  font-family: OpenSansBold;
  margin-bottom: 0px;
  margin-left: 118px;
}

p.text {
  margin-top: 0px;
}

body {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center; 
  margin: 12px;
}

h1 {
  font-family: GreatVibes;
  font-size: 72px;
  margin-bottom: 0px;
}
